.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0px;
  padding: 0em;
}

#backgroundimg1 {
  /* Bakgrundsbild till "Hem" */
  grid-column: 1/-1;
  grid-row: 1/6;
}

#backgroundimg2 {
  /* Bakgrundsbild till "Glosor" */
  grid-column: 1/-1;
  grid-row: 1/6;
}

#backgroundimg3 {
 /* Bakgrundsbild till "Fakta" */
  grid-column: 1/-1;
  grid-row: 1/6;
}

#kontakt1 {
  /* All kontaktinformation till vänster */
  grid-column: 3/7;
  grid-row: 12/-1;
}

#kontakt2 {
  /* All kontaktinformation till höger */
  grid-column: 7/13;
  grid-row: 12/-1;
}

#imgleft {
  /* Instagram & Youtube */
  grid-column: 5/7;
  grid-row: 12/-1;
}

#imgright {
  /* Email & Soundcloud */
  grid-column: 9/13;
  grid-row: 12/-1;
}

#wotd {
  /* mMaltesiskt ord på "hem" sidan */
  grid-column: 5/9;
  grid-row: 3/5;
}

#blank {
  /* Ett vitt lager som all kod vilar på */
  grid-column: 1/13;
  grid-row: 6/12;
}

#text2 {
  /* Texten till vänster om #imgtext2 */
  grid-column: 1/8;
  grid-row: 6/12;
}

#text3 {
  /* Texten till höger om #imgtext3 */
  grid-column: 7/13;
  grid-row: 8/12;
}

#logga {
  /* En fast logga i vänstra högra hörnet på alla sidor */
  grid-column: 1/2;
  grid-row: 1/2;
}

#fakta {
  /* Ett av de 3 knapparna som tar dig till Fakta */
  grid-column: 7/9;
  grid-row: 1/2;
}

#glosor {
  /* Ett av de 3 knapparna som tar dig till Glosor */
  grid-column: 5/7;
  grid-row: 1/2;
}

#hem {
  /* Ett av de 3 knapparna som tar dig till Hem */
  grid-column: 3/5;
  grid-row: 1/2;
}

#imgtext2 {
  grid-column: 8/12;
  grid-row: 6/9;
}

#imgtext3 {
  grid-column: 1/7;
  grid-row: 8/12;
}

#profilbild {
  grid-column: 8/13;
  grid-row: 1/2;
}

#profiltext {
  grid-column: 11/-1;
  grid-row: 1/2;
}

#text4 {
  grid-column: 1/6;
  grid-row: 6/11;
}

#imgtext4 {
  grid-column: 8/11;
  grid-row: 7/9;
}

#imgtext5 {
  grid-column: 8/11;
  grid-row: 9/11
}

#Maltese {
  grid-row: 8/9;
  grid-column: 6/10;
}

#tabell {
  grid-column: 4/10;
  grid-row: 5/9;
}

@media screen and (max-width: 1080px) {
  /* media queries till Ipad */
  #text3 {
    grid-column: 8/13;
  }

  #wotd {
    grid-column: 4/10;
  }

  #profilbild {
    grid-column: 7/13;
    transform: scale(0.8, 0.8);
    margin-top: 10px;
  }

  #logga {
    transform: scale(0.8, 0.8);
  }

  #profiltext {
    grid-column: 10/13;
    margin-left: 50px;
  }

  #imgtext2 {
    grid-column: 7/12;
    margin-right: 10px;
    transform: scale(0.85, 0.85);
    margin-left: -20px;
  }

  #imgtext3 {
    transform: scale(0.8, 0.8);
    margin-left: 10px;
  }

  #text2 {
    grid-column: 1/7;
  }

  #text {
    grid-row: 6/12;
  }

  #blank {
    grid-row: 5/12;
    grid-column: 1/-1;
  }

  #profiltext {
    opacity: 0;
  }
}

@media screen and (max-width: 1080px) {
  #imgtext2 {
    grid-column: 8/13;
  }
}

@media screen and (max-width: 830px) {
  #imgtext2 {
    grid-column: 7/13
  }
}

  @media screen and (max-width: 768px) {
    #backgroundimg {
      grid-column: 1/-1;
      grid-row: 1/6;
    }

    #wotd {
      grid-column: 1/-1;
      grid-row: 2/4;
      margin-top: 100px;
      margin-bottom: 120px;
    }

    #text {
      grid-column: 1/-1;
      grid-row: 5/12;
      margin-top: 0px
    }

    #imgtext2 {
      transform: scale(0.85, 0.9);
      margin-right: 130px;
      grid-column: 7/12;
      grid-row: 5/9;
      margin-top: 100px;
    }

    #text2 {
      grid-row: 5/8;
    }

    #imgtext3 {
      grid-row: 8/12;
      grid-column: 1/-1;
      transform: scale(1, 0.8);
      margin-left: 130px;
      margin-top: -80px;
      border-radius: 0px;
    }

    #text3 {
      grid-row: 9/12;
      grid-column: 1/13;
    }

    #logga {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    #profiltext {
      height: 0px;
      width: 0px;
      opacity: 0%;
      grid-column: 1/1;
      grid-row: 1/1;
    }

    #profilbild {
      grid-column: 11/13;
      margin: 0px;
      padding-top: 20px;
    }

    #fakta {
      grid-column: 8/10;
    }

    #glosor {
      grid-column: 6/8;
    }

    #hem {
      grid-column: 4/6;
    }

    #kontakt1 {
      grid-column: 2/7;
      grid-row: 12/-1;
    }

    #kontakt2 {
      grid-column: 6/13;
      grid-row: 12/-1;
    }
  }

  @media screen and (min-width: 860px) and (max-width: 1080px) {
    #text3{
      grid-column: 7/12;
    }
}

  @media screen and (min-width: 769px) and (max-width: 1020px) {
      #kontakt1{
        grid-column: 2/7;
      }
      #kontakt2{
        grid-column: 6/13;
      }
}

  @media screen and (max-width: 375px) {
    #backgroundimg {
      grid-column: 1/-1;
      grid-row: 1/6;
    }

    #wotd {
      grid-column: 1/-1;
      grid-row: 2/4;
      margin-top: 100px;
      margin-bottom: 120px;
    }

    /* #text {
      grid-column: 1/-1;
      grid-row: 5/12;
    } */

    #imgtext2 {
      transform: scale(0.75, 0.8);
      margin-right: 150px;
      grid-column: 7/12;
      grid-row: 5/9;
    }

    #text2 {
      grid-row: 5/8;
    }

    #imgtext3 {
      grid-row: 8/12;
      grid-column: 1/-1;
      transform: scale(1, 0.9);
      margin-left: 130px;
      margin-top: -80px;
      border-radius: 0px;
    }

    #text3 {
      grid-row: 9/12;
      grid-column: 1/13;
    }

    #logga {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    #profiltext {
      height: 0px;
      width: 0px;
      opacity: 0%;
      grid-column: 1/1;
      grid-row: 1/1;
    }

    #profilbild {
      grid-column: 11/13;
      margin: 0px;
      padding-top: 20px;
    }

    #fakta {
      grid-column: 4/6;
    }

    #glosor {
      grid-column: 6/8;
    }

    #uttal {
      grid-column: 8/10;
    }

    #kontakt1 {
      grid-column: 2/7;
      grid-row: 12/-1;
    }

    #kontakt2 {
      grid-column: 6/13;
      grid-row: 12/-1;
    }

    @media screen and (max-width: 1080px) {
      #text3 {
        grid-column: 8/13;
      }

  }
}
