body{
  background-color: rgb(237, 66, 66);
  margin: 0px;
  padding: 0px;
    font-family: "Lato", sans-serif;
  }

#menu{
  background-color: rgb(237, 66, 66);
}

#kontakt{
  background-color: rgb(237, 66, 66);
  margin: 0px;
  padding: 0px;
}
#rubrik{
  background-color: white;
  background-image:
}
#text{
  background-color: white;
  margin: 0px;
  padding: 0px;
}
#wotd{
  background-color: white;
  Margin: 80px;
  border-radius: 25px;
}
#logga{
  background-color: white;
}
#fakta{
  background-color: white;
}
#Glosor{
  background-color: white;
}
#translation{
  background-color: white;
}
.
